:root{
    --blue: #1992D4;
    --yellow: #F0B327;
    --light-blue: #E1E7EF;
    --grey: #5D5D5D;
    --white: #ffffff;
    --border: #d1d1d1;
}

@font-face {
    font-family: "young-serif";
    src: url(fonts/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/RobotoCondensed-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

li,a{
    list-style: none;
    text-decoration: none;
}

body{
    line-height: 1.5;
    font-family: Roboto;
    background-color: aqua;
}

h1,
h2,
h3,
h4,
h5{
    font-family: young-serif;
}

h5{
    font-size: 14.4px;
}

body>div{
    width: min(100%,1500px);
    margin: 0 auto;
    min-width: 1200px;
    display: grid;
    grid-template: 20vh 4fr / 1.5fr 5fr;
    grid-template-areas: "menu details" "menu cards";
    background-color: var(--light-blue);
}

input[type="search"]{
    width: 100%;
    border-radius: 30px;
    padding: 5px;
    background-color: var(--light-blue);
    border: none;
    height: 25px;
}

.menu{
    padding: 15px;
    grid-area: menu;
    background-color: var(--blue);
    color: var(--white);
    display: grid;
    grid-template-rows: 0.1fr 1.5fr 0.75fr 1fr 1fr;
    grid-template-areas: "d" "f" "s" "." ".";
    gap: 70px;
}

.menu>div{
    display: grid;
    justify-content: space-between;
}

.menu>div:first-of-type{
    grid-area: d;
    
}

.menu>div:first-of-type>div{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

.menu>div:first-of-type>div>img{
    margin-top: -10px;
}

.menu>div:nth-of-type(2){
    grid-area: f;
    font-weight: 700;
}

.menu>div:nth-of-type(2)>ul{
    display: grid;

}

.menu>div:nth-of-type(3){
    grid-area: s;
    display: grid;
    font-weight: 700;
}

.menu>div:nth-of-type(3)>ul{
    display: grid;
}

.menu>div:nth-of-type(2)>ul li{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    align-items: center;
    grid-template-columns: 1fr 1.5fr;
}

.menu>div:nth-of-type(3)>ul li{
    display: grid;
    grid-auto-flow: column;
    gap: 44px;
    align-items: center;
    grid-template-columns: 1fr 3fr;
}

.menu a{
    color: var(--white);
}

.details img[width="60"]{
    border-radius: 30px;
    background-color: var(--yellow);
    margin-top: -6px;
}

.details img[width="40"]{
    border-radius: 20px;
    background-color: var(--yellow);
    margin-top: -10px;
}

.details{
    padding: 15px 70px 0px 40px;
    grid-area: details;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    background-color: var(--white);
}

.details>div:first-of-type{
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    gap: 10%;
    align-items: start;
    padding-top: 5px;
}

.details>div:first-of-type>div:first-of-type{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.1fr 3fr;
    gap: 3%;
    height: 40px;
}

.details>div:last-of-type{
    display: grid;
    grid-template-columns: 1.445fr 1fr;
    gap: 5%;
}

.details>div:last-of-type>div:first-of-type{
    display: grid;
    grid-template-columns: 0.5fr 3fr;
}

.details>div:last-of-type>div:last-of-type>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
}

.details>div:last-of-type>div:last-of-type>ul>li{
    background-color: var(--blue);
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    font-weight: 800;
}

.details>div:last-of-type>div:last-of-type>ul>li>a{
    color: var(--white);
}

.details>div:first-of-type>div:last-of-type>ul{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    text-align: center;
}

.cards{
    padding: 15px 50px 50px 15px;
    grid-area: cards;
    display: grid;
    grid-template: 1fr / 5fr 2fr;
    gap: 15px;
    background-color: var(--light-blue);
}

.cards>div:first-of-type>div>div>div>p{
    max-height: 250px;
    overflow: hidden;
}

.cards p{
    color: var(--grey);
}

.cards>div:first-of-type>div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(47%,300px));
    gap: 15px;
    
}

.cards>div:first-of-type>div,
.cards>div:last-of-type>div>div{
    margin-top: 30px;
}

.cards>div:first-of-type>div>div{
    background-color: var(--white);
    padding: 20px;
    border-radius: 7px;
    border-left: var(--yellow) 5px solid;
    display: grid;
    grid-template-rows: 2fr 0.5fr;
    row-gap: 10px;
}

.cards>div:first-of-type>div>div>ul{
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    justify-content: end;
    gap: 30px;
}

.cards>div:last-of-type{
    display: grid;
    justify-content: space-between;

}

.cards>div:last-of-type>div>div{
    background-color: var(--white);
    padding: 20px;
    border-radius: 7px;
}

.cards>div:last-of-type>div:first-of-type>div{
    display: grid;
    gap: 30px;
}

.cards>div:last-of-type>div:first-of-type>div>div:not(:last-of-type){
    border-bottom: var(--border) 2px solid;
    padding-bottom: 20px;
}

.cards>div:last-of-type>div:last-of-type{
    display: grid;
    grid-template-rows: 0.5fr 5fr;
}

.cards>div:last-of-type>div:last-of-type>div{
    display: grid;
}

.cards>div:last-of-type>div:last-of-type>div>div{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

.cards>div:last-of-type>div:last-of-type>div>div>div{
    min-width: 150px;
}

.cards>div:last-of-type>div:last-of-type>h3{
    align-self: end;
}

.cards>div:last-of-type>div:last-of-type img{
    border-radius: 50%;
}

.cards>div:last-of-type>div:last-of-type a{
    font-weight: 600;
}

.cards>div:last-of-type>div:last-of-type div:last-of-type>img{
    background-color: var(--yellow);
}

.cards>div:last-of-type>div:last-of-type div:nth-of-type(3)>img{
    background-color: #FFC0CB;
}